//====================================================================================================

.header {

	&__top {
		background-color: $mainDarkColor;
		color: #fff;
	}
}
.top-header {
	padding: rem(10) 0;

	&__container {
		display: flex;
		align-items: center;
		gap: rem(20);
		min-height: rem(50);
		@media (max-width: $tablet) {
			 gap: rem(30);
		}
	}

	&__menu {
		flex: 1 1 auto;
	}

	&__user {
		position: relative;
z-index: 5;
		display: inline-flex;
		align-items: center;
		font-weight: 600;
		line-height: math.div(22, 18);
		gap: em(15, 18);
		&::before {
			font-size: rem(28);
		}
		@media (any-hover: hover) {
			&:hover {
				span {
					text-decoration: underline;
				}
			}
		}
		@media (max-width: $tablet) {
			span {
				display: none;
			}
		}
	}
}

.menu-top-header {
	&__list {
		display: flex;
		flex-wrap: wrap;
		row-gap: rem(5);
		@include adaptiveValue("column-gap", 60, 20);
		@media (max-width: $tablet) {
			flex-direction: column;
			row-gap: 25px;
		}
	}

	&__item {
		&_catalog {
			@media (min-width: $tablet) {
				display: none;
			}
		}
	}

	&__link {
		font-size: rem(16);
		line-height: math.div(20, 16);
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}

		&_catalog {
			display: flex;
			align-items: center;
			flex-direction: row-reverse;
			justify-content: space-between;
			&::before {
         flex: 0 0 12px;
			height: 14px;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: rem(8);
			transform: rotate(-90deg);
				}	
		}
		@media (max-width: $tablet) {
			@include adaptiveValue("font-size", 30, 22, 992, 320, 1);
		}
	}
	@media (max-width: $tablet) {
		display: none;
	}
}

.menu {

	&__body {
		@media (max-width: $tablet) {
			position: fixed;
			width: 100%;
			height: 100%;
			top: 0;
			left: -100%;
			overflow: auto;
			background-color: $mainDarkColor;
			z-index: 4;
			padding: rem(100) rem(15) rem(50) rem(15);
			transition: left .3s ease 0s;
			&::before {
				content: "";
				position: fixed;
				width: 100%;
				height: 70px;
				left: -100%;
				top: 0;
				background-color: $mainDarkColor;
			}
			.menu-open & {
				left: 0;
				&::before {
					left: 0;
				}
			}
		}
	}
	@media (max-width: $tablet) {
		flex: 1 1 auto;
		display: flex;
		justify-content: flex-end;
	}
}
 
.icon-menu {
}
// -----------------------------------------------------------------------
.header {

	&__body {
      
	}
}
.body-header {
	padding: rem(10) 0;
	background-color: #ECF1F2;

	&__logo {
		@extend %ic;
		@extend ._icon-logo;
		font-size: rem(42);
		color: $mainDarkColor;
	}

	&__search {
		flex: 1 1 auto;
		@media (min-width: $tablet) {
			padding-right: rem(20);
		}
		@media (min-width: $mobileSmall) {
			@include adaptiveValue("padding-left", 158, 20, 1620, 1400, 1);
			 
		}
	}

	&__actions {
	}
}
.top-header {

	&__container {
		display: flex;
		min-height: rem(70);
		align-items: center;
		@media (max-width: $tablet) {
			justify-content: space-between;
		}
		@media (max-width: $mobileSmall) {
			// justify-content: center;
		}
	}
}
.search-header {
	position: relative;
		border: 1px solid rgba(4, 4, 4, 0.5);
		background-color: rgba(7, 7, 7, 0.03);
	 border-radius: rem(3);
	 @media (min-width: $tablet) {
		 max-width: rem(377);
	}

	&__button {
		position: absolute;
		background-color: transparent;
		width: rem(41);
		height: rem(41);
		display: flex;
		justify-content: center;
		align-items: center;
		top: 0;
		left: rem(8);
		font-size: rem(14);
		color: rgba(0, 0, 0, 0.5);
	}

	&__input {
		border-radius: rem(3);
		background-color: transparent;
		height: rem(41);
		color: $mainDarkColor;
		padding: 0px rem(20) 0px rem(50);
		width: 100%;
		&::placeholder {
		 color: rgba(0, 0, 0, 0.5);
		 }
	}
	@media (max-width: $mobileSmall) {
		background-color: #fff;
	}
}
 
.actions-header {
	display: flex;
	align-items: center;
	// column-gap: rem(30);
	@media (max-width: $tablet) {
		display: none;
	@include adaptiveValue("column-gap", 30, 20, 1620, 1000, 1);
	}

	&__location {
		display: inline-flex;
		align-items: center; 
		font-weight: 600;
		// margin: 0px rem(25) 0px 0px;
		@include adaptiveValue("margin-right", 25, 0, 1620, 1400, 1);
		&::before {
			font-size: rem(24);
			 margin: 0px em(10, 24) 0px 0px;
		}
		@media (any-hover: hover) {
			&:hover {
				span {
					text-decoration: underline;
				}
			}
		}
	}

	&__phones {
	}

	&__favorite {
		position: relative;
z-index: 5;
		font-size: rem(27);
	}

	&__cart {
		flex: 0 0 auto;
	}
}
.phones-header {
	position: relative;
z-index: 5;
	&__items {
		margin-bottom: 3px;
	}

	&__item {
		 display: flex;
		position: relative;
	}

	&__phone {
		font-weight: 600;
		line-height: math.div(22, 18);
		&::before {
			@extend %ic;
			@extend ._icon-footer-phone;
			display: none;
		}
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
		@media (max-width: $tablet) {
			font-size: rem(25);
		}
		@media (max-width: $mobileSmall) {
			&::before {
				display: block;
			}
			span {
				display: none;
			}
		}
	}

	&__arrow {
		color: $mainOrange;
		font-size: rem(10);
		margin: 0px 0px 0px em(17, 16);
		transition: transform .3s ease 0s;
		&._spoller-active {
			transform: rotate(-180deg);
		}
		@media (max-width: $tablet) {
			display: none;
		}
	}

	&__list {
		position: absolute;
		top: 100%;
		width: 100%;
		left: 0;
		border-radius: rem(10);
		background-color: #fff;
		padding: rem(15);
		white-space: nowrap;
		box-shadow: 0 0 5px rgba(0,0,0,0.2);
		z-index: 1;
		li {
			&:not(:last-child) {
				margin-bottom: em(8, 18);
			}
		}
		@media (max-width: $tablet) {
			display: none;
		}
	}

	&__body {
	}

	&__callback {
		font-weight: 700;
		line-height: math.div(22, 18);
		color: $mainOrange;
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
		@media (max-width: $tablet) {
			display: none;
		}
	}
}
.cart-header {
display: flex;
align-items: center;
column-gap: 15px;
position: relative;
z-index: 5;

	&__icon {
		background-image: url(../img/cart.svg);
		background-repeat: no-repeat;
		flex: 0 0 37px;
		font-size: rem(35);
		position: relative;
		@media (max-width: $tablet) {
			background-image: url(../img/cart-2.svg);
		}
		span {
			position: absolute;
			width: rem(14);
			height: rem(14);
			font-size: rem(8);
			background-color: $mainOrange;
			border-radius: 50%;
			display: flex;
			top: 0;
			right: 0;
			color: #fff;
			justify-content: center;
			align-items: center;
		}
	}

	&__body {
		flex: 0 0 auto;
		font-size: rem(16);
	line-height: math.div(20, 16);
	@media (max-width: em(1250)) {
		display: none;
	}
	}
	
	&__summ {
	font-weight: 500;
}

&__link {
		color: $mainOrange;
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

//====================================================================================================
.header {

	&__catalog {
	}
}
.catalog-header {
	position: relative;
	 background-color: $mainDarkColor;

	&__container {
	}
	
	&__menu {
	}
	@media (max-width: $mobileSmall) {
		padding: rem(20) 0;
	}
}
.menu-catalog {
	
	&__list {
		display:flex;
		gap: 10px;
		justify-content: space-between;
		@media (max-width: $tablet) {
			flex-direction: column;
			row-gap: rem(25);
		}
	}
	
	&__item {
	}
	
	&__link {
		line-height: math.div(22, 18);
		color: #fff;
		display: flex;
		position: relative;
		transition: color .3s ease 0s;
		&[data-parent] {
			&::before {
				@extend %ic;
				@extend ._icon-arrow-bottom;
				display: none;
				@media (max-width: $tablet) {
					transform: translateY(rem(10)) rotate(-90deg);
					display: block;
					font-size: rem(10);
				}
			}
			@media (max-width: $tablet) {
				display: flex;
				width: 100%;
				flex-direction: row-reverse;
				justify-content: space-between;
			}
		}
		@media (min-width: $tablet) {
			justify-content: center;
			align-items: center;
			text-align: center;
			min-height: rem(70);
			padding: 0 rem(10);
		}
		&::after {
			content: "";
			opacity: 0;
			visibility: hidden;
			position: absolute;
			bottom: 0;
			left: rem(10);
			height: 1px;
			background-color: $mainOrange;
			width: calc(100% - rem(20));
			transition: all .3s ease 0s;
		}
		@media (any-hover: hover) {
			&:hover {
				color: $mainOrange;
				&::after {
					opacity: 1;
					visibility: visible;
				}
			}
		}
		@media (min-width: $tablet) {
		&._sub-menu-active {
			color: $mainOrange;
			&::after {
				opacity: 1;
				visibility: visible;
			}
		}
	}
		@media (max-width: $tablet) {
			@include adaptiveValue("font-size", 30, 22, 992, 320, 1);
		}
	}
 
	&__sub-menu {
		// opacity: 0;
		//  pointer-events: none;
		// position: absolute;
		width: 100%;
		top: 100%;
		left: 0;
		// transition: opacity .3s ease 0s;
		background-color: $mainDarkColor;
		// ._sub-menu-show & {
		// 	 opacity: 1;
		// 	  pointer-events: auto;
		// }
	}
	
	  @media (max-width: $tablet) {
	  	position: fixed;
	  	top: 0;
	  	left: -100%;
	  	width: 100%;
	  	height: 100%;
	  	overflow: auto;
	  	background-color: $mainDarkColor;
	  	padding: rem(25) rem(15) rem(50) rem(15);
	  	transition: left .3s ease 0s;
	  	.catalog-open & {
	  		left: 0;
	  		z-index: 6;
	  	}
	}

	&__back {
		display: none;
		color:#fff;
		position: relative;
		padding-left: 30px;
		&::before {
			content: "";
			position: absolute;
			background-image: url(../img/back.svg);
			background-repeat: no-repeat;
			width: 20px;
			height: 20px;
			left: 0;
			top: 0;
		}
		@media (max-width: $tablet) {
			display: inline-flex;
			align-items: center;
			@include adaptiveValue("font-size", 30, 20, 992, 320, 1);
			&:not(:last-child) {
				margin-bottom: em(65, 30);
			}
		}
	}
}
.sub-menu-catalog {
	@media (max-width: $tablet) {
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: $mainDarkColor;
		padding: rem(25) rem(15) rem(50) rem(15);
		transition: left .3s ease 0s;
		.sub-menu-open & {
			display: block;
			left: 0;
			z-index: 6;
		}
	}
	&__block {
		display: none;
		@for $var from 1 to 6 {
			&_#{$var} {
				//  justify-content: start;
				grid-template-columns: repeat($var, minmax(auto, rem(320)));
			}
		}
		&._sub-menu-open {
			display: grid;
			@media (max-width: $tablet) {
				display: block;
			}
		}
	}
		@media (max-width: $tablet) {
			position: fixed;
			top: 0;
			left: -100%;
			width: 100%;
			height: 100%;
			overflow: auto;
			background-color: $mainDarkColor;
			padding: rem(25) rem(15) rem(50) rem(15);
			transition: left .3s ease 0s;
			&._sub-menu-open {
				display: block;
				left: 0;
				z-index: 6;
			}
		}
	

	&__container {
		padding: 0 rem(10);
	}

	// &__column {
	// 	flex: 0 1 rem(320);
	// 	display: flex;
	// 	flex-direction: column;
	// }

	&__category {
		// font-weight: 700;
		line-height: math.div(20, 16);
	   color: #fff;
		font-size: rem(16);
		// padding: rem(30) rem(15) rem(30) 0;
		 @media (any-hover: hover) {
			&:hover {
				text-decoration: underline; 
			}
		}
		@media (min-width: $tablet) {
			font-weight: 700;
			padding: rem(30) rem(15) rem(30) 0;
		}
		@media (max-width: $tablet) {
			&:not(:last-child) {
				margin-bottom: em(25, 16);
			}
		}
	}
	
	&__list {
		display: flex;
		flex-direction: column;
		gap: 20px;
		padding: rem(30) rem(15) rem(30) 0;
		border-top: 1px solid rgba(255, 255, 255, 0.3);
		border-bottom: 1px solid rgba(255, 255, 255, 0.3);
		@media (max-width: $tablet) {
			display: none;
		}
	}

	&__item {
	}

	&__link {
		line-height: math.div(20, 16);
		color: #fff;
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}

&__link-category {
	@include adaptiveValue("font-size", 30, 20, 992, 320);
}

&__footer {
	padding: rem(30) rem(15) rem(30) 0;
	@media (max-width: $tablet) {
		display: none;
	}
}

	&__all {
		font-size: rem(16);
		line-height: math.div(20, 16);
		color: $mainOrange;
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline; 
			}
		}
	}
	&__back {
		display: none;
		color:#fff;
		position: relative;
		padding-left: 30px;
		&::before {
			content: "";
			position: absolute;
			background-image: url(../img/back.svg);
			background-repeat: no-repeat;
			width: 20px;
			height: 20px;
			left: 0;
			top: 0;
		}
		@media (max-width: $tablet) {
			display: inline-flex;
			align-items: center;
			@include adaptiveValue("font-size", 30, 20, 992, 320, 1);
			&:not(:last-child) {
				margin-bottom: em(65, 30);
			}
		}
	}
}

// ===================================================================================================

//Burger

.icon-menu {
	@media (max-width: $tablet) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 10;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #fff;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
 
